<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <img src="/assets/logo.svg" class="logo" alt="LOGO">
    <span class="spacer"></span>
    <div class="user_icon" [matMenuTriggerFor]="menu"><span>{{login | loginToIcon}}</span></div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Профиль</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Настройки</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Выход</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>